body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzEuZwMdYbvsn6G5k_ChtjPy5EthEJ6Qq1XA&usqp=CAU')
}

.container
{
    width: 600px;
    border: 2px solid #333;
    padding: 15px 10px;
    background-color: white;
}
.container h2
{
    text-align: center;
    margin-bottom: 15px
}
textarea
{
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}

input[type="submit"], button
{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]
{
    color: #fff;
    background-color: #273c75
}
button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.btn
{
    display: none
}

.delete-btn {
  transition-duration: 0.4s;
}

.delete-btn:hover {
  background-color: red; 
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products img {
  width: 30%;
  padding: 5%;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center {
  align-items: center;
}

.cart-iteam-header {
  text-align: center;
}

.comments {
    width: 200px;
    border: 5px solid rgb(191, 199, 217);
    padding: 20px;
    margin: 20px;
    border-radius: 0.5rem;
}

.fc {
  background-color: white;
}


